body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #f8fcff 0%, #eef8ff 41%, #e0f1fd 68%, #c4e2fb 100%);

}
.header{
    background-color: #f1f1f1;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
